
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="background">
    <div class="about-me">
        <div class="content">
            <h2>About us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="content-img">
            <img src="~/Images/about-us.jpg" alt="">
        </div>
    </div>
    <div class="about-me">
        <div class="content-img">
            <img src="~/Images/about-us.jpg" alt="">
        </div>
        <div class="content">
            <h2>About our job</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="about-me">
        <div class="content">
            <h2>Development</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="content-img">
            <img src="~/Images/about-us.jpg" alt="">
        </div>
    </div>
</div>
<style>
.background { background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm27-ning-30-background.jpg?bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=c6c74f69f5377b1a7ae28737deda388c"); background-size: auto; }

</style>