* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*---- header ----*/
.header {
    background: radial-gradient(#fff,#9924FF);
}

    .header .row {
        margin-top: 70px;
    }

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

.drop-down {
    float: right;
    overflow: hidden;
}

    .drop-down .dropbtn {
        color: #555;
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.navbar a {
    color: #555;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .navbar a:hover, .dropdown:hover .dropbtn {
        color: whitesmoke;
        border-radius: 5em;
    }

.dropbtn:focus {
    color: whitesmoke;
    border-radius: 5em;
    transition: .5s;
}

.navbar .logo a {
    color: white;
}

.logo a:hover {
    border-radius: 0%;
    background: 0%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            color: red;
            background-color: #ddd;
        }

.show {
    display: block;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 20px 45px;
    }

    .col-2 p {
        margin: 15px 45px;
    }

    .col-2 a {
        margin: auto 45px;
    }

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

    .btn:hover {
        background: #563434;
    }

/*---- catogories ----*/
.catogories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

    .col-3 img {
        width: 100%;
    }

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

    .col-4 img {
        width: 100%;
    }

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title::after {
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*----- offer -----*/
.offer {
    background: radial-gradient(#fff,#ffd6d6);
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/*---------testimonial----------*/
.testimonial {
    padding-top: 100px;
}

    .testimonial .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: transform 0.5s;
    }

        .testimonial .col-3 img {
            width: 50px;
            margin-top: 20px;
            border-radius: 50%;
        }

        .testimonial .col-3:hover {
            transform: translateY(-10px);
        }

.col-3 p {
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*---------Rands---------*/
.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

    .col-5 img {
        width: 100px;
        cursor: pointer;
        filter: grayscale(100%);
    }

        .col-5 img:hover {
            filter: grayscale(0);
        }

/*---footer---*/
.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

    .footer h3 {
        color: white;
        margin-bottom: 20px;
    }

.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }

.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.footer-col-3 ul li a:hover {
    color: white;
}

.copyright {
    text-align: center;
    padding: 10px;
}

/*------- all products ----*/
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

/* Single product */
.single-product {
    margin-top: 80px;
}

    .single-product .col-2 img {
        padding: 0;
    }

    .single-product .col-2 {
        padding: 20px;
    }

    .single-product h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .single-product select {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }

    .single-product input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523b;
    }

input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* cart */
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

    .btn-danger:hover {
        background-color: #CC4C4C;
    }

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 0.5px solid #ff523b;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

    .cart-row:last-child .cart-column {
        border: none;
    }

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #ff523b;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

    .btn-primary:hover {
        background-color: #563434;
    }

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/*--------- contact ------------*/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(#fff,#ffd6d6);
}

    .contact .content {
        max-width: 800px;
        text-align: center;
    }

        .contact .content h2 {
            font-size: 36px;
            font-weight: bold;
        }

        .contact .content p {
            font-weight: normal;
        }

.container-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

    .container-1 .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon {
    min-width: 60px;
    height: 60px;
    background: #ff523b;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
}

.text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    font-weight: 200;
}

.contactForm {
    width: 40%;
    padding: 40px;
    font-weight: 500;
    background: white;
}

    .contactForm h2 {
        font-size: 30px;
        font-weight: 500;
        color: black;
    }

    .contactForm .inputBox {
        position: relative;
        widows: 100%;
        margin-top: 10px;
        color: white;
    }

        .contactForm .inputBox input {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
        }

        .contactForm .inputBox textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            resize: none;
        }

        .contactForm .inputBox span {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;
        }

        .contactForm .inputBox input:focus ~ span,
        .contactForm .inputBox input:valid ~ span,
        .contactForm .inputBox textarea:focus ~ span,
        .contactForm .inputBox textarea:valid ~ span {
            color: #e91e63;
            font-size: 12px;
            transform: translateY(-20px);
        }

        .contactForm .inputBox input[type='submit'] {
            width: 100%;
            background: #00bcd4;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
        }

/*--------- About ------------*/
.about-me {
    width: 100%;
    display: flex;
    margin: 30px 40px;
    padding: 24px 32px;
    border-bottom: 2px solid white;
}

    .about-me .content {
        flex-basis: 45%;
        margin: auto 10px;
    }

        .about-me .content h2 {
            color: white;
            margin-bottom: 10px;
        }

        .about-me .content p {
            color: #aaa;
            padding: 5px 10px;
            margin-bottom: 10px;
        }

    .about-me .content-img {
        flex-basis: 55%;
        padding: 0 100px;
    }

        .about-me .content-img img {
            width: 100%;
            height: 100%;
            padding: 5px 10px;
        }

.background {
    background-image: url("../img/bg.jpg");
    background-size: auto;
}
